@import "app-toast.css";
@import "action-loader.css";
@import "file-upload.css";
@import "attatchment-uploader.css";
@import "chatbot-button.css";

.rt-Button,
.rt-IconButton,
.rt-ToggleButton {
    cursor: pointer;
}